<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Delta Task 3</title>

  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/styles2.css">
  <link rel="stylesheet" href="/css/navStyles.css">
  <link rel="stylesheet" href="/css/mobileStyles.css">
  <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Lobster+Two:wght@700&family=Noto+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Bungee+Outline&family=Bungee+Shade&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Metal+Mania&family=Righteous&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Dancing+Script:wght@700&family=Kelly+Slab&family=Lobster+Two&family=Michroma&family=Righteous&family=Satisfy&family=Shojumaru&family=Sriracha&display=swap" rel="stylesheet">
</head>

<body>
