<ul class="topnav">
  <li><a href="/">Home</a></li>
  <li><a  href="/dashBoard">Dashboard</a></li>
  <li><a href="/notifications">Notifications(<span style="color:red"><%=notification.accepted.length+notification.requests.length%></span>)</a></li>
  <li><a href="/submit">Create Invitation</a></li>
  <li><a href="/logout">Logout</a></li>
</ul>
