
body {
  background-color: #272727;
  color: white;
}
a{
  color: red;
}
p{
  word-break: break-word;
}
.centered {
    padding-top: 200px;
    text-align: center;
}

.detailsHeading{
  display: inline-block;
  font-size: 200%;
  font-family: 'Roboto',sans-serif;
  color:white;
  line-height: 1.6;
}
.detailsValue{
  display: inline-block;
  font-size: 200%;
  font-family: 'Roboto',sans-serif;
  color: #5fdde5;
  margin: 0;
  margin-left: 20px;
  line-height: 1.6;
  left: 50%; */
}
.detailsContainer{
  border-radius: 0;
  border: solid 10px #393e46;
  width: 50%;
  margin: 4% auto;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

.loginText {
  width: 75%;
  font-size: 150% ;
  font-family: 'Roboto',sans-serif;
  color: white;
  border : solid 6px white;
  background-color:#272727;
  box-sizing: border-box;
  padding: 20px;
  outline: none;
  margin: 10px 0;

}
.loginText:focus{
  border-color: #4CAF50;
  outline: none;

}
.loginBox{
  width:40%;
  background-color: #393e46;
  margin: 80px auto;
  text-align:center;
  border-radius: 30px;
  padding: 20px;
}
::placeholder{
  color: white;
  opacity: 1;
}
.loginButton{
  font-size: 150% ;
  font-family: 'Roboto',cursive;
  color: white;
  border : solid 6px #4CAF50;
  width   : 75%;
  background-color:#4CAF50;
  box-sizing: border-box;
  text-decoration: none;
  padding: 20px;

}
.loginButton:hover{
  border-color:white;
}
.loginHeading{
  font-family: "Lobster",cursive;
  font-size: 500%;
  text-align: center;
}
.loginHeadingBox{
  width: 30%;
  position: absolute;
  left: 35%;
  top: 0;
  text-align: center;
}
.notification{
  width: 100%;
  font-size: 300%;
  font-family: "Righteous",cursive;
  text-align: center;
  border: solid 6px #4CAF50;
  box-sizing: border-box;
  background-color: #272727;
  color:#4CAF50;
  outline: none;
}
.notification:hover{
  background-color: #4CAF50;
  color: white;
}
.notifications{
  text-align: center;
  font-size: 150%;
  background-color: #272727;
  box-sizing: border-box;
  border: solid 6.5px #4CAF50;
  display: block;
  padding-bottom: 15px;
}
.display{
  display: block;
}
.button1{
  font-size: 100%;
  display: inline-block;
  background-color: #393e46;
  color:red;
  border:solid 2px red;
  box-sizing: border-box;
  outline:none;
}
p{
  display: inline-block;
}
.detailsContainer2{
  border-radius: 0;
  border: solid 6px #393e46;
  width: 75%;
  margin: 25px auto;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;

}
.heading2{
  font-family: "Roboto",sans-serif;
  font-size: 250%;
  text-align: center;
  color: white;
  outline: none;
  border:solid 6px #393e46;
  padding: 20px;
}
.heading2:hover{
  border:solid 6px #4CAF50;
  color: white;
  box-sizing: border-box;
  box-shadow: 0 0 10px green;
}
.viewInvitation{
  display: inline-block;
  font-size: 150%;
  width: 20%;
  background-color: blue;
  color: white;
  box-sizing: border-box;
  padding: 10px 10px;
  font-family: "Righteous",cursive;
  text-decoration: none;
  border-radius: 5px;
  outline:none;
  margin-top: 20px;
}
.viewInvitation:hover{
  background-color: red;
  color: white;
}
.detailsHeading2,.detailsValue2{
  font-size: 200%;
}

.center{
  width: 100%;
  text-align: center;
}
.a1,.a2,.a3{
  display: none;
}
.visible{
  display: block;
}

.detailsContainer3{
  border-radius: 0;
  border: solid 10px #393e46;
  width: 75%;
  margin: 25px auto;
  text-align: left;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
}
.detailsHeading3{
  display: inline-block;
  font-size: 150%;
  font-family: 'Roboto',sans-serif;
  margin-left: 20px;
  line-height: 1.6;
}
.detailsValue3{
  display: inline-block;
  font-size: 150%;
  font-family: 'Roboto',sans-serif;
  color: #5fdde5;
  margin: 0;
  margin-left: 20px;
  line-height: 1.6;

}
.templateFont{
  font-size: 150%;
  font-family: 'Roboto',sans-serif;
  color: white;
  line-height: 1.6;

}
.templateFont2{
  font-size: 150%;
  font-family: 'Dancing Script', cursive;
  color:#5fdde5;
  line-height: 1.6;
}
.generalText{
  font-family: "Roboto",sans-serif;
  font-size: 200%;
  color: #5fdde5;
  display: block;
  margin: 15px auto;
  text-align: center;
}
.fileUpload{
  background-color: white;
  border: solid 3px #4CAF50;
  text-align: center;
  font-size: 130%;
  font-family: "Roboto",sans-serif;
  color: black;
  margin: 20px;
  outline:none;
}
#uploadImage{
  position: relative;
  margin: 0;
  padding: 0;
  height: 500px;
  width: 500px;
}
#imageWidth::placeholder,#imageHeight::placeholder{
  color: black;
}
.imageBox{
  width: 500px;
  height: 500px;
  margin: 0;
  padding: 0;
  margin: 15px auto;
  border: solid 5px white;
}
.imageInput{
  font-size: 120%;
  font-family: "Roboto",sans-serif;
  color: white;
  margin: 15px auto;
  text-align: center;
}
input[type="checkbox"]:checked+.detailsValue{
  text-decoration: line-through;
}
.checkBox1{
  -webkit-appearance: none;
	background-color: #fafafa;
	border: 2px solid #fafafa;
	padding: 9px;
	display: inline-block;
	position: relative;
  outline: none;
}
.checkBox1:checked:after {
	content: '\2714';
	font-size: 20px;
	position: absolute;
	top: 0;
	left: 0;
	color: red;
}
