<%- include('partials/header') %>
<ul class="topnav">
  <li><a href="/">Home</a></li>
  <li><a  href="/dashBoard">Dashboard</a></li>
  <li><a href="/notifications">Notifications()</a></li>
  <li><a href="/submit">Create Invitation</a></li>
  <li><a href="/logout">Logout</a></li>
</ul>
<h1 class="homeHeading">Invitations</h1>
<h3 class="homeSub">Delta Task 3</h3>

<div class="homeButtonBox">
  <a class="homeButton" href="/register" role="button">Register</a>
  <a class="homeButton" href="/login" role="button">Login</a>
</div>


<%- include('partials/footer') %>
