  <%- include('partials/header') %>
  <ul class="topnav">
    <li><a href="/">Home</a></li>
    <li><a  href="/dashBoard">Dashboard</a></li>
    <li><a href="/notifications">Notifications()</a></li>
    <li><a href="/submit">Create Invitation</a></li>
    <li><a href="/auth/logout">Logout</a></li>
  </ul>
<h1 class="pageHeading">Login</h1>
<form action="/auth/submitLoginCredentials2" method="POST">
  <div class="loginBox">
    <input type="email" class="loginText" name="username" autocomplete="off" required placeholder="Email">
    <input type="password" class="loginText" name="password" autocomplete="off" required placeholder="Password">
    <button type="submit" class="loginButton">Login</button>
    <input type="hidden" name="redirectValue" value="<%=redirectValue%>">

  </div>
</form>


<%- include('partials/footer') %>
