<%- include('partials/header') %>
<ul class="topnav">
  <li><a href="/">Home</a></li>
  <li><a href="/dashBoard">Dashboard</a></li>
  <li><a href="/notifications">Notifications()</a></li>
  <li><a href="/applyStyle">Create Invitation</a></li>
  <li><a href="/logout">Logout</a></li>
</ul>
<h1 class="pageHeading">Register</h1>
<form action="/register" method="POST">
  <div class="loginBox" style="margin-top:5%">
    <input type="email" class="loginText" name="username" autocomplete="off" required placeholder="Email ">
    <input type="password" class="loginText" name="password" autocomplete="off" required placeholder="Password">
    <button type="submit" class="loginButton">Register</button>

  </div>

</form>


<%- include('partials/header') %>
